body {
    background-color: hsl(0 0% 81%);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-size: 13px;

}

h1 {
    font-weight: 500;
    font-size: 26px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (2, 1fr);
    gap: 36px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.container > div {
    min-height: 220px;
    min-width: 36px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    border-radius: 8px;
    padding: 32px;
    
}

.span-2-columns {
    grid-column: span 2;
}

.span-2-rows {
    grid-row: span 2;
}

.whitebg {
    background: white
}

.purplebg {
    background: #733FC8;
}

.charcoalbg {
    background: #19202D;
}

.graybg {
    background: #48556A;
}

.whitetext {
    color: white;
}

.blacktext {
    color: black;
}

@media (max-width: 600px){
    .container > div {
        grid-column: span 4;
        
    }

    .container {
        padding: 50px;
    }
}

img {
    width: 28px;
  height: 28px;
  border-radius: 50%;
}

.intro {
    display: flex;
    gap: 12px;
    align-items: center;
}

p {
    margin: 6px 0px;
}

.name {
    font-weight: 600;
}

.ver-grad {
    opacity: 50%;
    font-size: 11px;
}

.quote-1 {

}
.quote-2 {
opacity: 70%;
}